<a href="https://colab.research.google.com/github/xxchanjotxx/Demographic-Analysis/blob/main/Demographic_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math as math
import calendar
from scipy.stats import linregress



%matplotlib inline

In [3]:
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df["race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [5]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
df["hours-per-week"].min()

1

In [7]:
high_earners = df[df["salary"] == ">50K"]
high_earners.shape[0]

7841

In [8]:
country = high_earners["native-country"].value_counts().idxmax()
highest_country_count = high_earners["native-country"].value_counts().max()
country
highest_country_count

7171

In [9]:
mask = df[(df["native-country"] == "India") & (df["salary"] == ">50K")]
mask["occupation"].value_counts().idxmax()

'Prof-specialty'

In [10]:
mask2 = df[(df["native-country"] == "India") & (df["salary"] == ">50K")].shape[0]
iran_pop = df[df["native-country"] == "Iran"].shape[0]
per = mask2/iran_pop
per

0.9302325581395349

In [11]:
high_ed = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

In [12]:
high_ed_rich = high_ed[high_ed["salary"] == ">50K"]

In [13]:
high_ed.shape[0]

7491

In [14]:
high_ed_rich.shape[0]

3486

In [15]:
per = round((high_ed_rich.shape[0]/high_ed.shape[0]) * 100,2)
per

46.54

In [16]:
df["education"].isin(["Bachelors", "Masters", "Doctorate"])

0         True
1         True
2        False
3        False
4         True
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: education, Length: 32561, dtype: bool

In [17]:
rich = df[df["salary"]== ">50K"]
rich.shape[0]
#7841 total rich

7841

In [18]:
rich_df = rich["native-country"].value_counts()

In [19]:
country_df = df["native-country"].value_counts()
country_df

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [20]:
per_capita_df = (rich_df/country_df)*100
per_capita_df.max()

41.86046511627907